@tailwind base;
@tailwind components;
@tailwind utilities;

/* WebKit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px; /* Adjust width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar track color */
}

::-webkit-scrollbar-thumb {
  background-color: #4a90e2; /* Scrollbar thumb color */
  border-radius: 10px; /* Top and bottom rounded */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #f1f1f1; /* Border for some spacing */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #357abd; /* Thumb color on hover */
}

/* Firefox Scrollbar Customization */
html {
  scrollbar-width: thin;
  scrollbar-color: #1f4c94 #121c33; /* Thumb and track color */
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px; /* Ensure the thumb is rounded on top and bottom */
}
